# Licensed under the Apache License v2.0 with LLVM Exceptions.
# See https://llvm.org/LICENSE.txt for license information.
# SPDX-License-Identifier: Apache-2.0 WITH LLVM-exception
# Also available under a BSD-style license. See LICENSE.

# build related
bazel-bin
bazel-out
bazel-mlir-tcp
bazel-testlogs
third_party/

# clangd related
.cache
compile_commands.json
external
