-f https://github.com/llvm/torch-mlir-release/releases/expanded_assets/dev-wheels
-f https://download.pytorch.org/whl/nightly/cpu/torch_nightly.html
--pre
torch
torch-mlir
torchvision

# testing
pillow
requests